@import 'fonts.css';
@import 'prism.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [inert] ::-webkit-scrollbar {
        display: none;
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 50%, 70% { transform: translateX(-5px); }
    20%,  60% { transform: translateX(5px); }
     90% { transform: translateX(-3px); }
    80% { transform: translateX(3px); }
}
